{{>partials/header}}

<!-- Inserção de dados - Banco de Dados -->
<fieldset>
   <legend>Novo Usuário</legend>
   <form method="POST" action="/novo-usuario">
      <input type="text" name="name" placeholder="Digite o nome">
      <br/><br/>
      <input type="text" name="age" placeholder="Digite a idade">
      <br/><br/>
      <input type="submit" value="Adicionar">
   </form>
   <div>
      {{#emptyName}}
         <h3>Por favor, digite um nome</h3>
      {{/emptyName}}
   </div>
</fieldset>


<!-- Lista de usuários - Banco de Dados -->
<h2>Usuários do Banco de Dados</h2>
<ul>
   {{#users}}
      <li>
         Nome: {{name}} - Idade: {{age}}
         <a href="/usuario/{{id}}/mais">(+)</a>
         <a href="/usuario/{{id}}/menos">(-)</a>
         <a href="/usuario/{{id}}/excluir">(Excluir)</a>
      </li>
      
   {{/users}}
</ul>

<hr>
Opa {{name}} {{lastName}}, tudo bem?
{{#showOld}}
   Como vai a vida?
{{/showOld}}

{{^showOld}}
   Beleza?
{{/showOld}}

<hr />
<h2>Produtos</h2>
<ul>
   {{#products}}
      {{>partials/productItem}}
   {{/products}}
</ul>

<hr />
<h2>Produtos a partir de R$ 12</h2>
<ul>
   {{#expensives}}
      {{>partials/productItem}}
   {{/expensives}}
</ul>

<hr />

<ul>
   {{#frasesDoDia}}
      <li>{{.}}</li>
   {{/frasesDoDia}}

   {{^frasesDoDia}}
      Não há frases motivacionais hoje.
   {{/frasesDoDia}}
</ul>

{{>partials/footer}}